.bg_mypic{
	background-image: url(../img/s1_bg.jpg);
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 12%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.bg_mypic1{
	background-image: url(../img/bili.jpg);
	background-repeat: no-repeat;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    background-size: 100%;
    -o-background-size: 100%;
}
.bg_mypic2{
	background-image: url(../img/acfun1.jpg);
	background-repeat: no-repeat;
    -webkit-background-size: 90%;
    -moz-background-size: 90%;
    background-size: 90%;
   -o-background-size: 90%;
}
.bg_mypic3{
	background-image: url(../img/douyu.png);
	background-repeat: no-repeat;
    background-position: 50% 0%;
}
.bg_mypic4{
	background-image: url(../img/youku.jpg);
	background-repeat: no-repeat;
	background-position: 50% 0%;
}
.mylink-hover{
  background: rgba(254, 209, 54, 0.9);
  position: absolute;
  width: 100%;
  height: 70%;
  opacity:0;
  left: -5px;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;

}
.mylink-hover:hover{
	opacity:1;
}
.mylink-hover-content{
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 40%;
  margin-top: -5px;
  color: white;
} 
.myicons{
	margin-top:35%;
}