a{
	cursor:pointer;
}

/**index.html*/
.mylink-hover:hover{
	opacity:1;
}
.mylink-hover-content{
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 40%;
  margin-top: -5px;
  color: white;
} 
.myicons{
	margin-top:35%;
}
@media (min-width: 1138px) {
	#cloudicon{
		position:fixed;
		z-index:9999;
		width:30px;
		height:30px;
		margin-top:45%;
	}
	#musicframe{
		visibility:hidden;
		position:fixed;
		z-index:9999;
		width:330px;
		margin-left:-10px;
		margin-top:36%;
	}
}
@media (min-width: 768px) and (max-width: 1138px) {
	#cloudicon{
		position:fixed;
		z-index:9999;
		width:30px;
		height:30px;
		margin-top:55%;
	}
	#musicframe{
		visibility:hidden;
		position:fixed;
		z-index:9999;
		width:330px;
		margin-left:-10px;
		margin-top:57%;
	}
}
@media (min-width: 430px) and (max-width: 768px) {
	#cloudicon{
		position:fixed;
		z-index:9999;
		width:30px;
		height:30px;
		margin-top:80%;
	}
	#musicframe{
		visibility:hidden;
		position:fixed;
		z-index:9999;
		width:330px;
		margin-left:-10px;
		margin-top:83%;
	}
}
@media (max-width: 430px) {
	#cloudicon{
		position:fixed;
		z-index:9999;
		width:30px;
		height:30px;
		margin-top:80%;
	}
	#musicframe{
		visibility:hidden;
		position:fixed;
		z-index:9999;
		width:330px;
		margin-left:-10px;
		margin-top:83%;
	}
}

/**video.html*/
.bg_mypic{
	/* background-image: url(../img/s1_bg1.jpg); */
	background-image: url(http://ww1.sinaimg.cn/large/9b0bd21fjw1f9xfhexue2j20vi0y3gvf.jpg);
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 44%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.bg_mypic0{
	/* background-image: url(../img/s1_bg0.jpg); */
	background-image: url(http://extraimage.net/images/2016/11/17/06802ff9ae5b6c6c2f1e4923792b4c7f.jpg);
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 20%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.bg_mypic1{
	/* background-image: url(../img/video/bili.jpg); */
	background-image: url(http://ww3.sinaimg.cn/large/9b0bd21fjw1f9xfuwmnm5j20sg0agwg6.jpg);
	background-repeat: no-repeat;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    background-size: 100%;
    -o-background-size: 100%;
}
.bg_mypic2{
	/* background-image: url(../img/video/acfun1.jpg); */
	background-image: url(http://extraimage.net/images/2016/11/17/f96904597ea712902fab148a8270be7a.png);
	background-repeat: no-repeat;
    -webkit-background-size: 90%;
    -moz-background-size: 90%;
    background-size: 90%;
   -o-background-size: 90%;
}
/* .bg_mypic3{
	background-image: url(../img/video/douyu.png);
	background-repeat: no-repeat;
    background-position: 50% 0%;
} */
.bg_mypic4{
	/* background-image: url(../img/video/youku.jpg); */
	background-image: url(http://extraimage.net/images/2016/11/17/da0a37cab6dc89eb082a40956da4b641.jpg);
	background-repeat: no-repeat;
	background-position: 50% 0%;
}

.mylink-hover{
  background: rgba(254, 209, 54, 0.9);
  position: absolute;
  width: 100%;
  height: 70%;
  opacity:0;
  left: -5px;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;

}

/** tool.html */
.toollink{
	cursor:move;
}	
.sourcewrap{
	height:200px;
	text-align:center;
}
.sourcewrap i{
	margin-top: 20%;
}

/** photo.html */
.mypicpage a{
	cursor:pointer;
}				

/** 404.html */
.light-background {
    background-color: #f0f2f4;
}
.wrapper.no-navigation {
    padding-top: 0;
}
.wrapper {
    position: relative;
    overflow: hidden;
    padding-top: 50px;
    min-height: 100%;
    padding-bottom: 45px;
}
.error-wrapper .error-inner {
    width:400px;
    margin: 0px auto;
    text-align: center;
    color: #666;
    -webkit-font-smoothing: antialiased;
}
.error-wrapper .error-inner .error-type.animated {
    visibility: visible;
    animation: fadeInDown 1s ease;
    -webkit-animation: fadeInDown 1s ease;
    -moz-animation: fadeInDown 1s ease;
    -ms-animation: fadeInDown 1s ease;
    -o-animation: fadeInDown 1s ease;
}
.error-wrapper .error-inner .error-type {
    font-size: 15em;
	font-family: Raleway,sans-serif,Times;
}
.m-top-md {
    margin-top: 20px;
}
@-webkit-keyframes fadeInDown{0%{opacity:0;-webkit-transform:translateY(-20px)}100%{opacity:1;-webkit-transform:translateY(0)}}
@-moz-keyframes fadeInDown{0%{opacity:0;-moz-transform:translateY(-20px)}100%{opacity:1;-moz-transform:translateY(0)}}
@-ms-keyframes fadeInDown{0%{opacity:0;-ms-transform:translateY(-20px)}100%{opacity:1;-ms-transform:translateY(0)}}
@keyframes fadeInDown{0%{opacity:0;transform:translateY(-20px)}100%{opacity:1;transform:translateY(0)}}